*.elc
*~
*.swp
elpa
auto-save-list
recentf
bookmarks
projectile-bookmarks.eld
irony
semanticdb
session.*

company-statistics-cache.el
eshell/
.python-environments/
projectile.cache
.org-id-locations
ac-comphist.dat
tramp
network-security.data
anaconda-mode
.mc-lists.el
TAGS
*log
*out
*sty 
*pdf 
*aux 
*inc 
*cfg
*drv
*dvi
*def
config.status
site-lisp/auctex*/Makefile
site-lisp/auctex*/*/Makefile
*ins
local.mk
GRTAGS
GTAGS
GPATH
site-lisp/auctex-12.1/autom4te.cache/
site-lisp/auctex-12.1/auto-loads.el
