[submodule "site-lisp/org-mode"]
	path = site-lisp/org-mode
	url = https://code.orgmode.org/bzg/org-mode.git
[submodule "site-lisp/npm-mode"]
	path = site-lisp/npm-mode
	url = https://github.com/mojochao/npm-mode
[submodule "site-lisp/help-fns-plus"]
	path = site-lisp/help-fns-plus
	url = https://github.com/emacsmirror/help-fns-plus
