*.elc
*~
elpa
auto-save-list
recentf
bookmarks
projectile-bookmarks.eld
irony
semanticdb
session.*

company-statistics-cache.el
eshell/
.python-environments/
projectile.cache
.org-id-locations
ac-comphist.dat
tramp
network-security.data
